################################################################################
#
# Ignore
#
################################################################################
################################################################################
#  Cache ignores
################################################################################
################################################################################
# System & Build ignores
################################################################################
._*
.DS_Store
*/.DS_Store
*.derp
.php_cs
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
build
composer.lock
package-lock.json
database/dumps/
logs
node_modules
/hide
/tmp
tmp*
temp*
vendor
################################################################################
# Test and Docs ignores
################################################################################
coverage
output
phpunit.xml
phpstan.neon
testbench.yaml
docs
public/tests
phpunit.xml
.phpunit.cache
tests/_output/*
tests/_data/dump.sql
################################################################################
# Shared and mount ignores
################################################################################
.idea
.project
.fleet
.idea
.vscode
################################################################################
# Environment ignores
################################################################################

logs

public/test.php
public/info.php
public/junk.html
/public/storage

node_modules
public/storage

################################################################################
# End of File
################################################################################
